In [3]:
import IPython.core.display as di

# This line will hide code by default when the notebook is exported as HTML
di.display_html('<script>jQuery(function() {if (jQuery("body.notebook_app").length == 0) { jQuery(".input_area").toggle(); jQuery(".prompt").toggle();}});</script>', raw=True)

# This line will add a button to toggle visibility of code blocks, for use with the HTML export version
di.display_html('''<button onclick="jQuery('.input_area').toggle(); jQuery('.prompt').toggle();">Toggle code</button>''', raw=True)

In [4]:
%%perl 
print 'Hello world!'

Hello world!

This is my first Jupyter journal

# This is a heading

In [ ]:
print

In [1]:
print('hello world')

hello world

In [43]:
%%HTML
<iframe style="width: 600px; height: 600px;" frameborder="1" src="http://chemapps.stolaf.edu/jmol/jmol.php?source=http://dl.dropboxusercontent.com/s/t42dx22mxsioja6/ethen_test.xyz"> </iframe>

In [32]:
from IPython.display import display, Math, Latex
display(Math(r'F(k) = \int_{-\infty}^{\infty} f(x) e^{2\pi i k} dx'))

In [30]:
%%HTML 
<h1>Hello</h1>

Below is the molecular structure of caffeine

In [2]:
%%HTML
<iframe style="width: 500px; height: 500px;" frameborder="1" src="http://embed.molview.org/v1/?mode=balls&bg=white"></iframe>

In [ ]:
%%perl
print 'hello world!'

In [46]:
import pandas
df = pandas.read_csv("C:/Users/Benjamin/Desktop/TestCSV.csv")
df.head()

   car  boat  plane  bird
0    1     2      3     4
1   14    25     33    24
2   22    94    102   123

In [1]:
import pandas
df = pandas.read_csv("C:/Users/Benjamin/Desktop/TestCSV.csv")

df.head()

   car  boat  plane  bird
0    1     2      3     4
1   14    25     33    24
2   22    94    102   123

In [2]:
from pivottablejs import pivot_ui
pivot_ui(df)